<div class="col-sm-10">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Dátum</th>
                <th>Od</th>
                <th>Do</th>
                <th>Obed od</th>
                <th>Obed do</th>
                <th>Pracovný čas</th>
                <th>Prítomnosť</th>
                <th>Výber</th>
            </tr>
        </thead>
        <tbody>
            <tr style="vertical-align: bottom" ng-repeat="day in days" class="text-center {{day.getDay() == 0 || day.getDay() == 6 ? ' danger ':''}}}">
                <td style="vertical-align: middle">{{day.getDay()}}</td>
                <td style="vertical-align: middle">{{day | date:'dd.MM'}}</td>
                <td><input placeholder="hh:mm" size="1" class="form-control input-sm" type="time" ngPattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" ng-model="day.from"></td>
                <td><input placeholder="hh:mm" size="1" class="form-control input-sm" type="time" ngPattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" ng-model="day.to"></td>
                <td><input placeholder="hh:mm" size="1" class="form-control input-sm" type="text" ng-model="day.lunchFrom"></td>
                <td><input placeholder="hh:mm" size="1" class="form-control input-sm" type="text" ng-model="day.lunchTo"></td>
                <td>{{day.test}}</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>