<div class="col-sm-10">

    <div class="row">

        <form class="form-inline">
            <div class="form-group">
                <a href="#"><span class="glyphicon glyphicon-arrow-left"></span></a>
                <label class="sr-only" for="month">Month</label>
                <select name="month" id="month" onchange="" size="1" class="form-control input-xs" ng-model="month" ng-change="update()">
                    <option value="1">Január</option>
                    <option value="2">Február</option>
                    <option value="3">Marec</option>
                    <option value="4">Apríl</option>
                    <option value="5">Máj</option>
                    <option value="6">Jún</option>
                    <option value="7">Júl</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">Október</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
            <div class="form-group">
                <label class="sr-only" for="year">Year</label>
                <select name="year" id="year" onchange="" size="1" class="form-control input-xs" ng-model="year">
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2013">2012</option>
                </select>
                <a href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>
            </div>
        </form>
    </div>
    <div class="row top-buffer">
        <form name="myForm" >
            <table class="table table-condensed table-bordered  table-hover" style="font-size: 11px;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Dátum</th>
                        <th>Od</th>
                        <th>Do</th>
                        <th>Obed od</th>
                        <th>Obed do</th>
                        <th>Pracovný čas</th>
                        <th>Prítomnosť</th>
                        <th>Výber</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="day in days" class="text-center" ng-class="{'danger': day.isWeekend}" style="height: 21px;">
                        <td class="col-sm-1" style="vertical-align: middle">{{day.date.getDay() | dayOfWeek}}</td>
                        <td class="col-sm-1" style="vertical-align: middle">{{day.date| date:'dd.MM'}}</td>

                        <td class="col-sm-1 form-group" ng-class="{'has-error': {{'myForm.dayFrom' + $index}}.$invalid}">
                            <input name="dayFrom{{$index}}" ng-if="!day.isWeekend" placeholder="hh:mm"  style="text-align: center;" class="form-control input-xs" type="text" ng-model="day.from" time>
                        </td>
                        <td class="col-sm-1 form-group" ng-class="{'has-error': {{'myForm.dayTo' + $index}}.$invalid}">
                            <input name="dayTo{{$index}}" ng-if="!day.isWeekend" placeholder="hh:mm"  style="text-align: center;" class="form-control input-xs" type="text" ng-model="day.to" time>
                        </td>
                        <td class="col-sm-1 form-group" ng-class="{'has-error': {{'myForm.lunchFrom' + $index}}.$invalid}">
                            <input name="lunchFrom{{$index}}" ng-if="!day.isWeekend" placeholder="hh:mm"  style="text-align: center;" class="form-control input-xs" type="text" ng-model="day.lunchFrom" time>
                        </td>
                        <td class="col-sm-1 form-group" ng-class="{'has-error': {{'myForm.lunchTo' + $index}}.$invalid}">
                            <input name="lunchTo{{$index}}" ng-if="!day.isWeekend" placeholder="hh:mm"  style="text-align: center;" class="form-control input-xs" type="text" ng-model="day.lunchTo" time>
                        </td>
                        <td class="col-sm-2" style="vertical-align: middle;">
                            <div ng-show="!{{'myForm.dayFrom' + $index}}.$invalid" ng-if="!day.isWeekend">
                                {{day.workTime(day.from, day.to, day.lunchFrom, day.lunchTo) | date:'HH:mm'}}
                            </div>
                        </td>
                        <td class="col-sm-2">
                            <select class="form-control input-xs" ng-if="!day.isWeekend">
                                <option>Bratislava</option>
                                <option>Viedeň</option>
                                <option>Home Office</option>
                                <option>Dovolenka</option>
                                <option>Náhradné voľno</option>
                                <option>Lekár</option>
                                <option>Sprev. člena rodiny</option>
                                <option>Práceneschopnosť</option>
                                <option>Služobná cesta</option>
                                <option>Iné</option>
                            </select></td>
                        <td class="col-sm-1"><input type="checkbox" ng-if="!day.isWeekend"></td>
                    </tr>
                </tbody>
            </table>
        </form>

    </div>