<div class="col-sm-10">
    <table class="table table-condensed table-bordered  table-hover" style="font-size: 11px;">
        <thead>
            <tr>
                <th>#</th>
                <th>Dátum</th>
                <th>Od</th>
                <th>Do</th>
                <th>Obed od</th>
                <th>Obed do</th>
                <th>Pracovný čas</th>
                <th>Prítomnosť</th>
                <th>Výber</th>
            </tr>
        </thead>
        <tbody>
            <tr style="vertical-align: bottom;" ng-repeat="day in days" class="text-center {{day.isWeekend ? ' danger ':''}}">
                <td class="col-sm-1" style="vertical-align: middle">{{day.date.getDay() | dayOfWeek}}</td>
                <td class="col-sm-1" style="vertical-align: middle">{{day.date | date:'dd.MM'}}</td>
                <td class="col-sm-1"><input ng-if="!day.isWeekend" placeholder="hh:mm"  style="text-align: center;" class="form-control input-xs" type="text" ngPattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" ng-model="day.from"></td>
                <td class="col-sm-1"><input ng-if="!day.isWeekend" placeholder="hh:mm"  style="text-align: center;" class="form-control input-xs" type="text" ngPattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" ng-model="day.to"></td>
                <td class="col-sm-1"><input ng-if="!day.isWeekend" placeholder="hh:mm"  style="text-align: center;" class="form-control input-xs" type="text" ng-model="day.lunchFrom"></td>
                <td class="col-sm-1"><input ng-if="!day.isWeekend" placeholder="hh:mm"  style="text-align: center;" class="form-control input-xs" type="text" ng-model="day.lunchTo"></td>
                <td class="col-sm-2" style="vertical-align: middle;"><div ng-if="!day.isWeekend">{{day.workTime(day.from,day.to) |date:'HH:mm'}}</div></td>
                <td class="col-sm-2">
                    <select class="form-control input-xs" ng-if="!day.isWeekend">
                        <option>Bratislava</option>
                        <option>Viedeň</option>
                        <option>Home Office</option>
                        <option>Dovolenka</option>
                        <option>Náhradné voľno</option>
                        <option>Lekár</option>
                        <option>Sprev. člena rodiny</option>
                        <option>Práceneschopnosť</option>
                        <option>Služobná cesta</option>
                        <option>Iné</option>
                    </select></td>
                    <td class="col-sm-1"><input type="checkbox" ng-if="!day.isWeekend"></td>
            </tr>
        </tbody>
    </table>
    
   
</div>